<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Allow direct access to any file in any folder within public
    RewriteRule ^public/([^/]+/)*[^/]+\.[^/]+$ - [L]
    RewriteRule ^storage/app/public/([^/]+/)*[^/]+\.[^/]+$ - [L]

    # Redirect all requests to index.php in the public folder
    RewriteCond %{REQUEST_URI} !^/index\.php$
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
